body{
    background-color: aquamarine;
    margin: 0;
    height: 100vh;
}

div.bmi_calc{
    background-color: bisque;
    margin: 0 auto;
    height: 30vh;
    width: 40vw; 
    border-radius: 3%;
}

.heading{
  margin-bottom: 40px;
}
h1, form{
    text-align: center;
}



.btn{
  display: block;
  margin: 30px auto;
 
  font-size: 30px;
  border: 1px solid rgb(189, 187, 187);
 
}
.btn:hover{
    cursor: pointer;
}